@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  background-color: #000000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;

}

a {
  text-decoration: none;
  color: #FFFF;
}

@media (max-width:800px){
  .swiper-button-next, .swiper-button-prev, .swiper-button-next::after, .swiper-button-prev::after {
   display: none;
  }

}

