@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}


.media.swiper-slide { 
  flex-shrink: unset;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  color: #FFFF;
  z-index: 9999;
  font-size: 1.8em;
}



@media (max-width: 800px) {
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
    background-color: #FFFF;
  }
  .navbarPc {
    display: none;
  }
}
@media (min-width: 801px) {
  main div.sm {
    display: none;
  }


}

@media (max-width: 801px) {
  header div.lg-md {
    display: none;
  }


}


h2{
  color: #FFFF;
  font-weight: normal;
  font-size: 2em;
}
h2 span {
  color:#1976d2;
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em 0 ;
}

div.search-container a > img {
  width: 10px;
}
